#tiger { 
	background-image: 							url(https://i.pinimg.com/originals/7b/39/f9/7b39f9d4743befca963cfa2fc38a759f.gif); 
    max-width:100%;
    height: 60vh;
    background-position: center;
    background-size: cover;   

}
